@model TuitionManagementSystem.Web.Features.Homework.MarkHomeworkViewModel

<div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">

        <div class="modal-header">
            <h5 class="modal-title">Marking Homework - @Model.Student.Name</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
            <form
                id="mark-homework"
                hx-put
                hx-controller="Homework"
                hx-action="MarkHomework"
                hx-route-id="@Model.Submission.Id">
                <div class="mb-3">
                    <label asp-for="@Model.Grade" class="form-label">Mark（0–100）</label>
                    <input class="form-control"
                           asp-for="Grade"
                           type="number"
                           min="0"
                           max="100"
                           step="1"
                           required
                           title="Grade must be between 0 and 100"
                           placeholder="Please key in the total mark (0–100)">
                </div>
            </form>

            <div id="submissionCarousel" class="carousel slide">
                <partial name="../File/_File" model="@Model.SubmissionFiles"/>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button
                type="submit"
                class="btn btn-primary"
                form="mark-homework">
                Submit
            </button>
        </div>
    </div>
</div>

