@model TuitionManagementSystem.Web.Features.Attendance.DeleteAttendance.DeleteAttendanceResponse

@{
    var now = DateTime.UtcNow;
}

<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title"></h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body">
            <div class="alert alert-success">Attendance Remove successfully</div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
</div>


<button
    id="attendance-action-@Model.StudentId"
    hx-post
    hx-controller="Session"
    hx-action="MarkStudentAttendedHtmx"
    hx-route-id="@Model.SessionId"
    hx-route-studentId="@Model.StudentId"
    hx-target="#modal"
    type="submit"
    class="btn btn-primary"
    data-bs-toggle="modal" data-bs-target="#modal"
    hx-swap-oob="true">
    <i class="fa-solid fa-handshake-angle"></i>
</button>

@if (now < Model.SessionTime.EndAt)
{
    <span id="status-@Model.StudentId" hx-swap-oob="true" class="badge bg-warning text-dark">
        NotTaken
    </span>
}
else
{
    <span id="status-@Model.StudentId" hx-swap-oob="true" class="badge bg-danger">
        Absent
    </span>
}

