@using Humanizer
@model TuitionManagementSystem.Web.Features.Notification.NotificationController.NotificationsViewModel

@{
    var timezone = TimeZoneInfo.FindSystemTimeZoneById("Singapore Standard Time");
}

@if (Model.Notifications.Any())
{
    <div class="list-group">
        @foreach (var notification in Model.Notifications)
        {
            var localizedDt = TimeZoneInfo.ConvertTimeFromUtc(
                notification.NotifiedAt,
                timezone
            );

            localizedDt = DateTime.SpecifyKind(localizedDt, DateTimeKind.Local);

            <div id="notification-@notification.Id"
                 class="list-group-item list-group-item-action d-flex justify-content-between">

                <div>
                    <h5>@notification.Message</h5>
                    <small class="text-muted">
                        <time datetime="@localizedDt.ToString("o")">
                            @localizedDt.Humanize()
                        </time>
                    </small>
                </div>

                <button type="button"
                        class="btn-close"
                        hx-post="/Notification/DismissNotification/@notification.Id"
                        hx-target="#notification-drawer"
                        hx-swap="innerHTML"
                        aria-label="Dismiss">
                </button>
            </div>
        }
    </div>

    <span id="notification-badge"
          class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
          hx-swap-oob="true">
        @Model.Notifications.Count
    </span>
}
else
{
    <div class="list-group">
        <div class="list-group-item text-muted">
            No notifications
        </div>
    </div>

    <span id="notification-badge" hx-swap-oob="true"></span>
}
