@model TuitionManagementSystem.Web.Features.Authentication.Login.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<form asp-controller="Authentication" asp-action="Login" class="container">
    <legend>Login</legend>

    <div class="mb-3">
        <label asp-for="Username" class="form-label"></label>
        <input asp-for="Username" class="form-control" required autofocus/>
        <span asp-validation-for="Username" class="form-text text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" class="form-control" required/>
        <span asp-validation-for="Password" class="form-text text-danger"></span>
    </div>

    <div class="mb-3">
        <input asp-for="RememberMe" class="form-check-input"/>
        <label asp-for="RememberMe" class="form-check-label"></label>
    </div>

    <button type="submit" class="btn btn-primary">Login</button>

    @Html.ValidationMessage("Invalid")
</form>


