@model TuitionManagementSystem.Web.Features.Authentication.Login.LoginViewModel

@{
    ViewData["Title"] = "Two Factor";
}

<h2>Check your email</h2>
<p>
    We’ve sent you a login verification link.
    Please click the link to complete your sign-in.
</p>

