@model TuitionManagementSystem.Web.Features.Attendance.GetAttendanceHistory.GetAttendanceHistoryResponse

@{
    ViewData["Title"] = "Attendance History";
    var timezone = TimeZoneInfo.FindSystemTimeZoneById("Asia/Kuala_Lumpur");
}

<div class="container mt-4">

    <h4 class="mb-4 text-center">
        Attendance History for
        <span class="text-primary">@Model.CourseName</span>
    </h4>

    @if (!Model.Sessions.Any())
    {
        <div class="alert alert-warning text-center">
            No attendance records found.
        </div>
    }
    else
    {
        <table class="table table-bordered table-hover align-middle text-center">
            <thead class="table-light">
            <tr>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Status</th>
            </tr>
            </thead>

            <tbody>
            @foreach (var session in Model.Sessions)
            {
                if (session.StartAt >= Model.EnrollmentAt)
                {
                    <tr>
                        <td>
                            @TimeZoneInfo.ConvertTimeFromUtc(session.StartAt,timezone)
                        </td>
                        <td>
                            @TimeZoneInfo.ConvertTimeFromUtc(session.EndAt,timezone)
                        </td>
                        <td>
                            @if (session.IsValid)
                            {
                                <span class="badge bg-success px-3 py-2">
                                    Attended
                                </span>
                            }
                            else
                            {
                                <span class="badge bg-danger px-3 py-2">
                                    Absent
                                </span>
                            }
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td colspan="3">Dont have session history data</td>
                    </tr>
                }
            }
            </tbody>
        </table>
    }
</div>
