@model TuitionManagementSystem.Web.Features.Attendance.TeacherDailySessionList.GetTeacherDailySessionListResponse

@{
    ViewData["Title"] = "Generate Attendance";
}


<div>
    <h3>Attendance Management </h3>
</div>
  <div class="container mt-4">
      @foreach (var course in Model.Courses)
      {
          <div class="list-group">
              <div class="list-group-item ">
                  <h5>@course.Course</h5>
                  <button class="btn btn-primary btn-sm" data-bs-toggle="collapse"
                          data-bs-target="#sessions1" aria-expanded="false" aria-controls="sessions1">
                      Toggle Sessions
                  </button>
                  <div class="collapse" id="sessions1">
                      @foreach (var session in Model.Sessions)
                      {
                          <div class="list-group mt-3">
                              <div class="list-group-item d-flex justify-content-between">
                                  <h6>Session Time : @session.StartAt to @session.EndAt</h6>
                                  <div class="btn-group btn-group-sm">
                                      <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">Code</button>
                                      <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myQrModal">QR</button>
                                  </div>
                              </div>
                          </div>
                      }
                  </div>
              </div>
          </div>
      }
  </div>

  <div class="modal" id="myModal">
      <div class="modal-dialog">
          <div class="modal-content">

              <div class="modal-header">
                  <h4 class="modal-title"></h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
              </div>

              <div class="modal-body">
                  No Enter Code
              </div>

              <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
              </div>

          </div>
      </div>
  </div>

  <div class="modal" id="myQrModal">
      <div class="modal-dialog">
          <div class="modal-content">

              <div class="modal-header">
                  <h4 class="modal-title"></h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
              </div>

              <div class="modal-body">
                  No Enter Code
              </div>

              <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
              </div>

          </div>
      </div>
  </div>

  @section Scripts
  {


  }



