@{
    ViewData["Title"] = "Take Attendance";
}

<div class="container">
    <nav>
        <h4>Take Attendance</h4>

        <div class="d-flex justify-content-between align-items-center mb-4">
            <a class="btn btn-primary" asp-controller="Attendance" asp-action="Index">
                Summary
            </a>
        </div>
    </nav>

    <form hx-post hx-controller="Attendance" hx-action="TakeAttendanceHtmx" hx-target="#modal">
        <div class="mb-3 mt-3">
            <label for="code" class="form-label">Attendance Code:</label>
            <input type="text" class="form-control" id="code" placeholder="Enter Attendance Code" name="code">
        </div>

        <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal">
            Take Attendance
        </button>
    </form>
</div>
